* {
    /* background-color: gray; */
    outline: red 2px;
}

.contenu {
    padding: 20px;
}

#page {
    display: flex;
    /* position: relative; */
    justify-content: center;
    flex-direction: column;
}

#titre {
    margin: auto;
}

#logo {
    max-height: 297px;
    max-width: 297px;
    margin: auto;
    /* mix-blend-mode: color-burn; */
}

form>div {
    max-width: 300px;
}